{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "<Azure Storage connection string>",
    "STORAGE_CONNECTION_STRING": "<Azure Storage connection string>",
    "ALERT_RECIPIENT": "tybierwagen@tamu.edu",
    "ACS_SENDER_EMAIL": "DoNotReply@tybierwagen.com",
    "ACS_CONNECTION_STRING": "<Azure Communication Services connection string>",
    "UPSTREAM_BASE_URL": "https://vitalapi.pods.portals.tapis.io",
    "UPSTREAM_USERNAME": "<Upstream username>",
    "UPSTREAM_PASSWORD": "<Upstream password>",
    "UPSTREAM_CAMPAIGN_ID": "4",
    "UPSTREAM_STATION_ID": "3",
    "UPSTREAM_LATITUDE": "<station latitude>",
    "UPSTREAM_LONGITUDE": "<station longitude>",
    "UPSTREAM_SENSOR_FIELDS": "temperature,humidity,battery",
    "ENABLE_ROLLUP_RECONCILE": "true",
    "ROLLUP_RECONCILE_WINDOW_HOURS": "48",
    "ROLLUP_RECONCILE_MAX_ROWS": "50000",
    "ENABLE_ROLLUP_DAILY_BACKFILL": "true",
    "ROLLUP_DAILY_BACKFILL_DAYS": "400",
    "ROLLUP_DAILY_BACKFILL_MAX_ROWS": "200000"
  }, 

  "Host": {
    "LocalHttpPort": 7070,
    "CORS": "*"
  }
}
